@source "C:/Users/andrey.koldayev/PortableGit/Manager-Assistant/**/*";
@source inline("isolate");
@source "./b24ui/prose";
@source "./b24ui/toaster.ts";
@source "./b24ui/toast.ts";
@source "./b24ui/avatar.ts";
@source "./b24ui/chip.ts";
@source "./b24ui/button.ts";
@source "./b24ui/link.ts";
@source "./b24ui/progress.ts";
@source "./b24ui/badge.ts";
@source "./b24ui/form-field.ts";
@source "./b24ui/input.ts";
@source "./b24ui/popover.ts";
@source "./b24ui/calendar.ts";
@source "./b24ui/textarea.ts";
@source "./b24ui/tabs.ts";
@source "./b24ui/accordion.ts";
@source "./b24ui/checkbox.ts";
@source "./b24ui/alert.ts";
@source "./b24ui/card.ts";
@source "./b24ui/table-wrapper.ts";
@source "./b24ui/kbd.ts";
@source "./b24ui/collapsible.ts";
@source "./b24ui/container.ts";
@source "./b24ui/tooltip.ts";
@source "./b24ui/chat-message.ts";
@source "./b24ui/chat-shimmer.ts";
@source "./b24ui/select-menu.ts";
@source "./b24ui/switch.ts";
@source "./b24ui/modal.ts";
@source "./b24ui/command-palette.ts";
@source "./b24ui/dashboard-sidebar-toggle.ts";
@source "./b24ui/dashboard-resize-handle.ts";
@source "./b24ui/slideover.ts";
@source "./b24ui/drawer.ts";
@source "./b24ui/dropdown-menu.ts";
@source "./b24ui/page-card.ts";
@source "./b24ui/page-feature.ts";
@source "./b24ui/sidebar.ts";
@source "./b24ui/navbar.ts";
@source "./b24ui/avatar-group.ts";
@source "./b24ui/field-group.ts";

@layer base {
  body {
    scrollbar-gutter: stable;
    background: var(--air-theme-background);
    @apply antialiased font-(family-name:--ui-font-family-system) scheme-light dark:scheme-dark edge-light:scheme-light edge-dark:scheme-light;
  }

  /* @deprecate This rule is deprecated and will be removed in version 3.0.0 */
  .sidebar-layout.--inner,
  .air-custom-bg {
    background: var(--air-theme-background);
  }
}

@theme static {}

@theme default inline {}
